---
title: Serverless Solutions for your Server needs
description: Various solutions for serverless applications that can be used in place of running servers.
product: solutions
---

<!-- Header -->
<header>
  <div class="container">
    <div class="jumbotron acksin-jumbotron acksin-header" id="utils-header">
    </div>
  </div>
</header>

<section>
  <h1 class="center">Solutions</h1>
</section>

<section id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">NoOps Apps. <span class="section-subheading text-muted">Move Faster and Cheaper.</span></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6"></div>

      <div class="col-lg-6">
        <p>
          Get updates as we publish more serverless solutions.
        </p>

        <%= partial :subscribe %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h2><a href="/solutions/serverless-ecommerce-with-stripe">Building a Serverless Ecommerce Site with Stripe</a></h2>
        <p>
          Want to create a Shopping Cart on the cheap without running
          any servers yourself? This is a serverless solution to get
          you running with a simple serverless ecommerce
          solution. Great for if you are just starting out and don't
          want to run a server but still have a lot of control.
        </p>
      </div>

      <div class="col-lg-6"></div>
    </div>
    </div>
</section>
