---
title: DevOps for a New Startup
---

<header id="support-header">
  <div class="container">
    <div class="intro-text text-center">
      <h1 class="intro-heading">DevOps for a New Startup</div>
  </div>
  </div>
</header>


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Platform</h3>

        <p>
          The platform that you choose to use is highly personal. It
          should be what you are familiar with so that you can move
          quickly instead of fighting the issues of the frameworks and
          language. We cannot make this choice for you.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3>Tooling</h3>
      </div>

      <div class="col-lg-6">
        <h4>Hashicorp</h4>
      </div>

      <div class="col-lg-6">
        <h4>Docker</h4>
      </div>

      <div class="col-lg-6">
        <h4>Acksin</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3>Monitoring</h3>
      </div>

      <div class="col-lg-6">
        <h4>Datadog</h4>
      </div>

      <div class="col-lg-6">
        <h4>PagerDuty</h4>
      </div>

      <div class="col-lg-6">
        <h4>Pingdom</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3>Infrastructure</h3>
      </div>

      <div class="col-lg-6">
        <h4>AWS</h4>
      </div>

      <div class="col-lg-6">
        <h4>GCP</h4>
      </div>

      <div class="col-lg-6">
        <h4>Microsoft Azure</h4>
      </div>
    </div>
  </div>
</section>
