---
title: "About"
description: What is opsZero?
---

<header id="support-header">
  <div class="container">
    <div class="intro-text text-center">
      <h1 class="intro-heading">About</h1>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"></h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
      </div>

      <div class="col-lg-6">
        <p>
          opsZero is a curated marketplace for serverless solutions
          that run on AWS Lambda, Google Functions and Azure Cloud
          Function by <%= link_to "Acksin", "https://www.acksin.com" %>. We provide high quality, well supported apps that
          allow you deploy new applications at a low cost.
        </p>

        <p>
          Our goals are to make components that you need quick to use
          and setup so that you can focus on building your value add.
        </p>

        <p>
          We are a curated list so be sure to <a href="/submit">submit
          your functions</a> so we can add you to our list of
          functions.
        </p>

      </div>
    </div>
  </div>
</section>
