---
title: "About"
description: What is opsZero?
---

<header id="support-header">
  <div class="container">
    <div class="intro-text text-center">
      <h1 class="intro-heading">About</h1>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"></h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
      </div>

      <div class="col-lg-6">
        <p>
          opsZero is a curated marketplace for serverless solutions
          that run on <a href="http://aws.amazon.com/lambda/">AWS Lambda</a>,
          <a href="https://cloud.google.com/functions/">Google Cloud
            Functions</a> and <a href="https://azure.microsoft.com/en-us/services/functions/">Azure
            Functions</a> made by <%= link_to "Acksin", "https://www.acksin.com" %>. We
          provide quality, supported functions that allow you to save
          costs by using just in time infrastructure provided by these
          new event based technologies.
        </p>

        <p>
          Our goal is to make components that you can use to get off
          the ground quickly without having to think about
          infrastructure planning.
        </p>

        <p>
          We are a curated list so be sure to <a href="/submit">submit
          your functions</a> so we can feature you!
        </p>

      </div>
    </div>
  </div>
</section>
