---
title: Package database for AWS Lambda, Google Cloud Functions and Azure Functions.
description: NPM for AWS Lambda, Google Cloud Functions and Azure Functions.
---

<header>
  <div class="container">
    <div class="jumbotron acksin-jumbotron acksin-header" id="opszero-header">
    </div>
  </div>
</header>


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="blurb-text" class="center">Package manager for AWS Lambda</h1>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-6" id="subscribe">
        <p>
          Using Event based systems such as AWS Lambda, Google Cloud
          Function and Azure Functions reduces your cost and gives you
          immense savings in terms of people bandwidth, operational
          overhead, and division of labor. opsZero is here to provide
          you with well tested functions to run your backend.
        </p>

        <p>To get notifications on new functions and product updates from <a href="https://www.acksin.com">Acksin</a> subscribe below.</p>

        <%= partial :subscribe %>
      </div>

            <div class="col-lg-6">
        <h2>Submit Your Functions</h2>

        <p>
          Submit your AWS Lambda functions. Just put the Github repo
          below. Each repo should have a <code>opszero.json</code> file. Here
          is an example file.
        </p>

<code><pre>
{
    "name": "buy-button",
    "description": "This is a buy button powered by Stripe.",
    "tags": ["stripe", "ecommerce"],
    "license": "MIT",
    "author": "Abhi Yerra",
    "email": "abhi@acksin.com",
    "archive": "output.zip",
    "buildCommand": "make build",
    "readme": "README.md",
    "branch": "master",
    "aws": {
        "policyFiles": []
    }
}
</pre></code>


        <form method="POST" action="<%= fugue_api_url("/v1/opszero/submit") %>" class="form-inline">
          github.com/
          <div class="form-group">
            <input type="text" class="form-control" placeholder="username" name="username" />
            /
            <input type="text" class="form-control" placeholder="repo" name="repo" />
          </div>
          <button onclick="ga('send', 'event', 'Submit', 'Submit Your Function', 'Submit Your Function below fold');" class="btn btn-success btn-lg navbar-btn">Submit Your Function</button>
        </form>
      </div>
  </div>
</section>

<section id="products" class="bg-light-gray">
  <div class="container">
    <opszero-repos>Loading Repos...</opszero-repos>
  </div>
</section>
