---
title: "About"
description: What is provided with our solutions?
---

<header id="support-header">
  <div class="container">
    <div class="intro-text text-center">
      <h1 class="intro-heading">What is Provided?</h1>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      </div>

      <div class="col-lg-6">

        <ul>
          <li>Documentation on how to install the app.</li>
          <li><a href="http://terraform.io">Terraform</a> script for deployment.</li>
          <li>One hour of support. Additional support can be purchased separately.</li>
          <li>Multiple Use Commercial License</li>
          <li>Future Updates</li>
        </ul>

        <h4>Multiple Use License</h4>
        <ul>
          <li>Your use of the function <b>can</b> extend to five installations.</li>
          <li>You <b>can</b> use the function in work which you are creating for your own purposes or for clients.</li>
          <li>You <b>cannot</b> incorporate the theme in a work created for redistribution or resale by you or your clients.</li>
          <li>You <b>cannot</b> redistribute or resell the function or source files under the Multiple Use License.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
